  <div class="container">
    <div class="row">
      <div class="col">
        Line number
      </div>
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="col">
        Author name
      </div>
      <div class="col">
        Create date
      </div>
      <div class="col">
        <button class="btn btn-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M3 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2
              2v1H3V4zm2-1a1 1 0 0 0-1 1v1h8V4a1 1 0 0 0-1-1H5zm2
              5a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h2zm4
              0a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h2z"/>
          </svg>
          Delete
        </button>
      </div>
    </div>
  </div>
